.container {
  display: flex;
  flex-direction: column;
  width: 530px;
  border: 3px solid #212121;
  border-radius: 10px;
  font-size: 24px;
  color: #000000;
  overflow: hidden;
}

.userInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.avatar {
  margin-top: 20px;
  margin-bottom: 30px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #2a2a2a;
}

.name {
  font-weight: 700;
  margin-bottom: 25px;
}

.tag {
  color: #808080;
  margin-bottom: 10px;
}

.location {
  color: #808080;
}

.stats {
  display: flex;
  border-top: 3px solid #808080;
  background-color: #d3d3d3;
}

.statsItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  border-left: 3px solid #808080;
  padding: 10px;
}

.statsItem:first-child {
  border-left: none;
}
